*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffecd7;
}
.div {
  background-color: #ffecd7;
  display: flex;
  flex-direction: column;
}
.div-2 {
  background-color: #ffecd7;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 42px;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    padding-top: 15px;
  }
}
.div-3 {
  display: flex;
  width: 100%;
  max-width: 1218px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
  }
}
.div-4 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1218px;
  position: absolute;
  top: 220px;
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 991px) {
  .div-4 {
    display: none;
  }
}

.div-12 {
  align-self: center;
  margin-top: 140px;
  max-width: 952px;
  color: #4b1604;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Bremlin;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.96px;
}
@media (max-width: 991px) {
  .div-12 {
    max-width: 100%;
    margin-top: 40px;
    font-size: 40px;
    line-height: 67px;
  }
}
.star {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
}
.star2 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
}
.div-13 {
  align-self: center;
  margin-top: 31px;
  max-width: 686px;
  font: 400 24px/36px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  color: #4b1604;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: -0.48px;
}
@media (max-width: 991px) {
  .div-13 {
    max-width: 100%;
  }
}
.img {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 40px;
  overflow: hidden;
  align-self: center;
  margin-top: 150px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .img {
    margin-top: 40px;
  }
}
.div-14 {
  justify-content: flex-end;
  align-items: center;
  background-color: #ffecd7;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 152px;
  padding-bottom: 97px;
}
@media (max-width: 991px) {
  .div-14 {
    max-width: 100%;
    padding-top: 100px;
  }
}
.div-15 {
  display: flex;
  width: 100%;
  max-width: 1218px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-15 {
    max-width: 100%;
  }
}
.div-16 {
  justify-content: space-between;
}
@media (max-width: 991px) {
  .div-16 {
    max-width: 100%;
  }
}
.div-17 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-17 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 54%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.img-2 {
  aspect-ratio: 1.18;
  object-fit: contain;
  object-position: center;
  width: 100%;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
@media (max-width: 991px) {
  .img-2 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 46%;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-18 {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-18 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-19 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-19 {
    max-width: 100%;
    text-align: center;
  }
}
.div-20 {
  color: #000;
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: 0.64px;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .div-20 {
    max-width: 100%;
    text-align: center;
  }
}
.div-21 {
  margin-top: 16px;
  color: #4b1604;
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
}
@media (max-width: 991px) {
  .div-21 {
    max-width: 100%;
    text-align: center;
  }
}
.div-22 {
  align-self: end;
  display: flex;
  margin-top: 24px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .div-22 {
    max-width: 100%;
    align-self: center;
  }
}
.div-23 {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}
.img-3 {
  aspect-ratio: 0.8;
  object-fit: contain;
  object-position: center;
  width: 24px;
  overflow: hidden;
  max-width: 100%;
}
